.nav-container {
  background-color: #f1f5f9;
  height: 15vh;
  display: flex;
  padding: 10px;
  align-items: center;
}
.logo-button {
  background: transparent;
  border: none;
}
.image{
  width: 200px;
}